# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# virtualenv
.venv
venv/
ENV/

# IDE settings
.vscode/

# macOS metadata
.DS_Store
.AppleDouble
.LSOverride
